In [36]:
import pandas
import config
import psycopg2

import importlib
importlib.reload(config)

In [37]:
def query(Query):
    
    try:

        conn = psycopg2.connect(
            database=config.Database,
            user=config.DBuser,
            password=config.DBpswd,
            
            # Tunneled connection
            host=config.TunnelHost,
            port=config.TunnelPort
            
            # On Eduroam
#             host=config.host,
#             port=config.port
        )
        cursor = conn.cursor()
        
        cursor.execute(Query)
        conn.commit()
        result = cursor.fetchall()
        
        cursor.close()
        conn.close()
        
        return result

    except Exception as e:
        print("Uh oh, can't connect. Invalid dbname, user or password?")
        print(repr(e))

In [38]:
rows = query("SELECT * FROM trips LIMIT 10;")

In [39]:
data = pandas.DataFrame(rows)

In [40]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,14-DEC-18 00:00:00,8174458,7A,7A_85,1,42202,37800,42070,37479,BasDef,None,None,None,24-DEC-18 09:29:45,",2800757,2800757,"
1,14-DEC-18 00:00:00,8165624,145,145_105,2,71627,66600,72609,66609,BasDef,None,None,None,24-DEC-18 09:29:45,",3353205,3353205,"
2,14-DEC-18 00:00:00,8166969,145,145_105,2,68627,63600,69870,63546,BasDef,None,None,None,24-DEC-18 09:29:45,",3355100,"
3,14-DEC-18 00:00:00,8180591,145,145_105,2,70427,65400,71627,65566,BasDef,None,None,None,24-DEC-18 09:29:45,",3352617,"
4,14-DEC-18 00:00:00,8172413,140,140_19,1,64534,60600,66188,60639,BasDef,None,None,None,24-DEC-18 09:29:45,",3113600,"

[0.     0.0125 0.025  0.0375 0.05   0.0625 0.075  0.0875 0.1    0.1125
 0.125  0.1375 0.15   0.1625 0.175  0.1875 0.2    0.2125 0.225  0.2375
 0.25   0.2625 0.275  0.2875 0.3    0.3125 0.325  0.3375 0.35   0.3625
 0.375  0.3875 0.4    0.4125 0.425  0.4375 0.45   0.4625 0.475  0.4875
 0.5    0.5125 0.525  0.5375 0.55   0.5625 0.575  0.5875 0.6    0.6125
 0.625  0.6375 0.65   0.6625 0.675  0.6875 0.7    0.7125 0.725  0.7375
 0.75   0.7625 0.775  0.7875 0.8    0.8125 0.825  0.8375 0.85   0.8625
 0.875  0.8875 0.9    0.9125 0.925  0.9375 0.95   0.9625 0.975  0.9875]