In [1]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from datetime import timedelta
from datetime import datetime
import scipy.stats as stats
import requests as r
import pandas as pd
import numpy as np
import postgres
import gmaps
import json
import math

# import importlib
# importlib.reload(postgres)

from IPython.display import display, clear_output
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [11]:
%%bash 
ls stored_queries/

leavetimes_Sample_Data.csv
query145leavetimes.csv
query145leavetimes_full.csv

In [18]:
sample = pd.read_csv("stored_queries/leavetimes_Sample_Data.csv")

In [19]:
sample.head(1)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9
0,0,13-FEB-18 00:00:00,6262783,9,521,62662,62662,62599,62624,2406920,28-FEB-18 13:29:11

In [20]:
sample.columns = ['ix','dayofservice', 'tripid', 'progrnumber', 'stoppointid', 'planned_arr','planned_dep','actual_arr','actual_dep','note','updated']

In [21]:
sample.head(1)

,ix,dayofservice,tripid,progrnumber,stoppointid,planned_arr,planned_dep,actual_arr,actual_dep,note,updated
0,0,13-FEB-18 00:00:00,6262783,9,521,62662,62662,62599,62624,2406920,28-FEB-18 13:29:11

In [31]:
sample.index.name = 'idx'
sample.drop(columns=['note','updated','ix'], inplace=True);

In [32]:
sample.head(1)

,dayofservice,tripid,progrnumber,stoppointid,planned_arr,planned_dep,actual_arr,actual_dep
idx,,,,,,,,
0,13-FEB-18 00:00:00,6262783,9,521,62662,62662,62599,62624