# Importing Modules & setup

In [172]:
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from datetime import timedelta
from datetime import datetime
import scipy.stats as stats
import requests as r
import pandas as pd
import seaborn as s
import numpy as np
import postgres
import gmaps
import json
import math

import importlib
importlib.reload(postgres)

# Show all vars
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [173]:
%%bash 
ls stored_queries/*.csv

stored_queries/diff1011.csv
stored_queries/leavetimes_Sample_Data.csv
stored_queries/query145leavetimes.csv
stored_queries/query145leavetimes_first.csv
stored_queries/query145leavetimes_full.csv
stored_queries/stop_locations.csv
stored_queries/trips_df.csv
stored_queries/vehicles_Sample_Data.csv
stored_queries/weather_darksky.csv
stored_queries/weather_phoenix_park.csv

# Importing Data

**Reading csv files**

In [268]:
leave   = pd.read_csv("stored_queries/query145leavetimes_first.csv", header=None)
# leave   = pd.read_csv("stored_queries/leavetimes_Sample_Data.csv")
weatherMET = pd.read_csv("stored_queries/weather_phoenix_park.csv")
weather = pd.read_csv("stored_queries/weather_darksky.csv")
stops   = pd.read_csv("stored_queries/stop_locations.csv")
trips   = pd.read_csv("stored_queries/trips_df.csv")

**Leavetimes Data**

In [269]:
leave.columns = ['dayofservice', 'tripid', 'progrnumber', 'stopid', 'planned_arr','planned_dep','actual_arr','actual_dep']
# leave.drop(columns=['note','updated','ix'], inplace=True);
leave.head(1)
                 
# leave.columns = ['ix','dayofservice', 'tripid', 'progrnumber', 'stopid', 'planned_arr','planned_dep','actual_arr','actual_dep','note','updated']
# leave.drop(columns=['note','updated','ix'], inplace=True);
# leave.head(1)

,dayofservice,tripid,progrnumber,stopid,planned_arr,planned_dep,actual_arr,actual_dep
0,2018-03-06,6361484,10,842,28777,28799,28994,28994

**Trips Data**

In [270]:
# trips.index.name="idx"
trips.columns = ['ix', 'dayofservice', 'tripid', 'lineid', 'routeid','direction', 'planned_arr', 'planned_dep', 'actual_arr', 'actual_dep']
trips.drop(columns=['ix'], inplace=True);
trips.head(1)

,dayofservice,tripid,lineid,routeid,direction,planned_arr,planned_dep,actual_arr,actual_dep
0,2018-06-17,7013606,7A,7A_85,1,66484,62400,67065.0,62901.0

**Stop Locations**

In [271]:
stops.columns = ['ix','actual_stop_id','stop_id','lat','lng','stop name']
stops.drop(columns=['ix'], inplace=True)
stops.head(1)

,actual_stop_id,stop_id,lat,lng,stop name
0,1965,8230DB001965,53.323868,-6.379297,Woodford Walk (Woodford Grove)

**Weather Data**

In [272]:
weather.columns = ['date_recorded','cloudCover','humidity','icon','prepIntensity','pressure','temperature','visibility','windSpeed']
weather.drop(columns=['visibility','pressure'],inplace=True)
weather.head(1)

weatherMET.columns = ['ix','station','date_recorded','rain','temperature','humidity','windspeed','winddir']
weatherMET.drop(columns=['ix', 'station','winddir'],inplace=True)
weatherMET.head(1)

,date_recorded,cloudCover,humidity,icon,prepIntensity,temperature,windSpeed
0,2018-01-01 00:00:00,0.58,0.8,partly-cloudy-night,0.0,41.19,17.04

      date_recorded rain  temperature  humidity  windspeed
0  01/01/2018 00:00    0          4.6        82         20

# Cleaning Data

### Description of Data

<div>
<b> Description of Data </b><br>

<table style="margin-left:0px;float:left;">
<th colspan=2><b>leave Columns Desccription</b></th>
<tr>
    <td>dayofservice</td>
    <td>date of trip</td>
</tr>
<tr>
    <td>tripid</td>
    <td>identifier of trip [fk trips]</td>
</tr>
<tr>
    <td>progrnumber </td>
    <td>The sequential position of the route in the journey.</td>
</tr>
<tr>
    <td>stopid</td>
    <td>stop number</td>
</tr>
<tr>
    <td>planned_arr</td>
    <td>planned time of arrival at the stop</td>
</tr>
<tr>
    <td>planned_dep</td>
    <td>planned time of departure from stop</td>
</tr>
<tr>
    <td>actual_arr</td>
    <td>actual time of arrival at the stop</td>
</tr>
<tr>
    <td>actual_dep</td>
    <td>actual time of departure from stop</td>
</tr>
<tr>
    <td>distance</td>
    <td>distance travelled up to this point in the journey</td>
</tr>
</table>


<table style="margin-left:15px;float:left;">
<th colspan=2><b>Trips Columns Desccription</b></th>
<tr>
    <td>dayofservice</td>
    <td>date of trip</td>
</tr>
<tr>
    <td>tripid</td>
    <td>identifier of trip</td>
</tr>
<tr>
    <td>lineid</td>
    <td>bus route id/name</td>
</tr>
<tr>
    <td>routeid</td>
    <td>Unique route identifier [change with stop changes for line number]</td>
</tr>
<tr>
    <td>direction</td>
    <td>Forward or backward journey</td>
</tr>
<tr>
    <td>planned_arr</td>
    <td>planned time of arrival at end</td>
</tr>
<tr>
    <td>planned_dep</td>
    <td>planned time of departure from start</td>
</tr>
<tr>
    <td>actual_arr</td>
    <td>actual time of arrival at end</td>
</tr>
<tr>
    <td>actual_dep</td>
    <td>actual time of departure from start</td>
</tr>
</table>

<table style="margin-left:15px;float:left;">
<th colspan=2><b>Stops Columns Desccription</b></th>
<tr>
    <td>actual_stop_id</td>
    <td>Stop Number</td>
</tr>
<tr>
    <td>stop_id</td>
    <td>full identifier of stop</td>
</tr>
<tr>
    <td>lat</td>
    <td>latitude</td>
</tr>
<tr>
    <td>lng</td>
    <td>longitude</td>
</tr>
<tr>
    <td>stop name</td>
    <td>address of stop</td>
</tr>
</table>

<table style="margin-left:15px;float:left;">
<th colspan=2><b>Weather Columns Desccription</b></th>
<tr>
    <td>cloudCover</td>
    <td>The percentage of sky occluded by clouds, between 0 and 1, inclusive</td>
</tr>
<tr>
    <td>humidity</td>
    <td>The relative humidity, between 0 and 1, inclusive.</td>
</tr>
<tr>
    <td>icon</td>
    <td>One of : 'partly-cloudy-night', 'partly-cloudy-day', 'rain', 'wind',
       'cloudy', 'fog', 'clear-night', 'clear-day'</td>
</tr>
<tr>
    <td>prepIntensity</td>
    <td>The intensity (in inches of liquid water per hour) of precipitation occurring at the given time. <br>This value is conditional on probability (that is, assuming any precipitation occurs at all).</td>
</tr>
<tr>
    <td>pressure</td>
    <td>The sea-level air pressure in millibars.</td>
</tr>
<tr>
    <td>temperature	</td>
    <td>The air temperature in degrees Fahrenheit</td>
</tr>
<tr>
    <td>windSpeed</td>
    <td>The wind speed in miles per hour.</td>
</tr>

</table>
</div>

**Notes on Data**

Leavetimes Table: 
- There are 4774 distinct stop ids
- There dates run between 01/01/18 and 31/12/18
- Tripid is not unique to a single bus journey but rather a specific route taken by the bus.
- Progrnumber has min value 1 and max value of 109 indicating there are no more than 109 stops in any given route
- All time columns may go over the 86400 mark indicating they have pushed over into the next day. $ t \in [16200, 91680]$
- distance may be useful - unsure yet. If a graph structure is made of the connected stops the distance between a given two could be useful. 

Trips Table:
- lineid does not contain all the bus routes [17, 175, etc not included]
- routeid needs more attention 
- direction which way its going along the route - this is useless as the distance between stops is route agnostic
- times can go beyond 86400 if trips take extra long. 

Stops Table:
- actual_stop_id may be useful - need to link it to stoppointid from the leave times table
- lat,lng are very useful. 
- stop names are probably useless [other that front end use]

Weather Table:
- missing a rake of data - Not sure how to rectify this yet. Maybe need to use the met eireann data where there arent missing values ?? 
- Have currently put in the wrong data but this may be an issue.

### Weather Table

#### Setting Data Types

In [273]:
weather.dtypes
weatherMET.dtypes

date_recorded     object
cloudCover       float64
humidity         float64
icon              object
prepIntensity    float64
temperature      float64
windSpeed        float64
dtype: object

date_recorded     object
rain              object
temperature      float64
humidity           int64
windspeed          int64
dtype: object

In [274]:
weatherMET.date_recorded = pd.to_datetime(weatherMET.date_recorded)
weather.date_recorded= pd.to_datetime(weather.date_recorded)

In [275]:
print("icon Values")
weather.icon.unique()

icon Values

array(['partly-cloudy-night', 'partly-cloudy-day', 'rain', 'wind',
       'cloudy', 'fog', 'clear-night', 'clear-day'], dtype=object)

In [276]:
weather.icon = weather.icon.astype('category');

#### Looking for Null / Missing / Duplicated Data

In [277]:
weather_count = pd.DataFrame([weather.count(), weather.isnull().sum()]).transpose()
weather_count.columns=['NonNull','Null']
weather_count['PctNull'] = round(100 * weather_count.Null / (weather_count.NonNull + weather_count.Null),2)
weather_count

               NonNull  Null  PctNull
date_recorded     8751     0     0.00
cloudCover        8496   255     2.91
humidity          8751     0     0.00
icon              8751     0     0.00
prepIntensity     7617  1134    12.96
temperature       8751     0     0.00
windSpeed         8745     6     0.07

#### Handling Missing/ Null/ Duplicated Data

##### CloudCover Column

In [278]:
# plt.figure(figsize=(30 ,5))
# plt.plot(weather.cloudCover)
# plt.xlim([4000,4500])

In [279]:
# ser = weather.cloudCover

# for row in ser.index:
    
#     if pd.isnull(ser.iloc[row]):
        
#         i=1
#         j=1
#         print(ser.isnull().sum(), end='-')
        
#         while pd.isnull(ser.iloc[row]):
            
#             if not (pd.isnull(ser.iloc[row-i]) and pd.isnull(ser.iloc[row+j])):
#                 ser.iloc[row] = (ser.iloc[row-i]+ser.iloc[row+j])/2
            
#             elif not pd.isnull(ser.iloc[row-i]):
#                 ser.iloc[row] = ser.iloc[row-i]
#                 i+=1
#                 continue
                
#             elif not pd.isnull(ser.iloc[row+j]):
#                 ser.iloc[row] = ser.iloc[row+j]
#                 j+=1
#                 continue
                
#             j+=1
#             i+=1

In [280]:
# plt.figure(figsize=(30 ,5))
# plt.plot(ser)
# plt.xlim([4000,4500])

##### PrepIntensity Column

Solution: The column prepIntensity will be replaced with the column rain from the met Eireann data.

In [281]:
# weatherdf = pd.merge(weather, weatherMET, how='outer', on='date_recorded')

### Leave Times Table

#### Setting Data Types

In [282]:
leave.dtypes

dayofservice    object
tripid           int64
progrnumber      int64
stopid           int64
planned_arr      int64
planned_dep      int64
actual_arr       int64
actual_dep       int64
dtype: object

In [283]:
leave.dayofservice = pd.to_datetime(leave.dayofservice.iloc[:])

#### Looking for Null / Missing / Duplicated Data

In [284]:
# Note this is just on a subset of the actual data
leave_count = pd.DataFrame([leave.count(), leave.isnull().sum()]).transpose()
leave_count.columns=['NonNull','Null']
leave_count['PctNull'] = round(100 * leave_count.Null / (leave_count.NonNull + leave_count.Null),2)
leave_count

              NonNull  Null  PctNull
dayofservice  9951765     0      0.0
tripid        9951765     0      0.0
progrnumber   9951765     0      0.0
stopid        9951765     0      0.0
planned_arr   9951765     0      0.0
planned_dep   9951765     0      0.0
actual_arr    9951765     0      0.0
actual_dep    9951765     0      0.0

In [285]:
leave["is_duplicated"]=leave.duplicated(subset=['dayofservice', 'tripid', 'progrnumber'], keep=False)

In [286]:
# leave[leave.is_duplicated==True].groupby(by=['dayofservice', 'tripid', 'progrnumber']).head()

#### Handling Missing/ Null/ Duplicated Data

In [287]:
# None detected

### Trips Table

#### Setting Data Types

Want to delete the rows with missing values.<br> However, Need to check if there are 
any tripids in the leavetimes table that have a linked lineid in trips first. 
If no links are found, then there rows will be deleted. <br>
=> links found => fuck

In [288]:
trips.dtypes

dayofservice     object
tripid            int64
lineid           object
routeid          object
direction         int64
planned_arr       int64
planned_dep       int64
actual_arr      float64
actual_dep      float64
dtype: object

In [289]:
list(trips.lineid.unique()[:10])
list(trips.routeid.unique()[:5])

['7A', '41C', '31', '67', '44', '27', '53', '4', '65B', '140']

['7A_85', '41C_79', '31_15', '67_6', '44_36']

In [290]:
trips.dayofservice = pd.to_datetime(trips.dayofservice.iloc[:])
trips.lineid = trips.lineid.astype('category');
trips.routeid= trips.routeid.astype('category');

#### Looking for Null / Missing / Duplicated Data

In [291]:
print(f"No. Null actual_arr and actual_dep: {trips[trips.actual_arr.isnull() & trips.actual_dep.isnull()].isnull().sum()['actual_arr']}")
print(f"No. Null actual_arr or  actual_dep: {trips[trips.actual_arr.isnull() | trips.actual_dep.isnull()].isnull().sum().max()}")
print(f"No. Null actual_arr: {trips[trips.actual_arr.isnull()].isnull().sum()['actual_arr']}")
print(f"No. Null actual_dep: {trips[trips.actual_dep.isnull()].isnull().sum()['actual_dep']}")

trips_count = pd.DataFrame([trips.count(), trips.isnull().sum()]).transpose()
trips_count.columns=['NonNull','Null']
trips_count['PctNull'] = round(100 * trips_count.Null / (trips_count.NonNull + trips_count.Null),2)
trips_count

No. Null actual_arr and actual_dep: 12488
No. Null actual_arr or  actual_dep: 164551
No. Null actual_arr: 137207
No. Null actual_dep: 164551

              NonNull    Null  PctNull
dayofservice  2182637       0     0.00
tripid        2182637       0     0.00
lineid        2182637       0     0.00
routeid       2182637       0     0.00
direction     2182637       0     0.00
planned_arr   2182637       0     0.00
planned_dep   2182637       0     0.00
actual_arr    2045430  137207     6.29
actual_dep    2018086  164551     7.54

#### Handling Missing/ Null/ Duplicated Data

**Given that its stop to stop times being modeled. It should be fine to drop the time columns from trips.**

In [292]:
trips.drop(columns=['planned_arr', 'planned_dep', 'actual_arr', 'actual_dep'], inplace=True)
trips.head(1)

  dayofservice   tripid lineid routeid  direction
0   2018-06-17  7013606     7A   7A_85          1

### Stops Table

#### Setting Data Types

In [293]:
stops.dtypes

actual_stop_id     object
stop_id            object
lat               float64
lng               float64
stop name          object
dtype: object

In [294]:
stops.actual_stop_id.unique()
list(stops.stop_id.unique()[:5])
list(stops['stop name'].unique()[:5])

array(['1965', '1112', '318', ..., '7015', '7016', '3370'], dtype=object)

['8230DB001965',
 '8230DB001112',
 '8220DB000318',
 '8230DB000100',
 '8220DB002396']

['Woodford Walk (Woodford Grove)',
 'Whitehall Park',
 "Westmoreland Street (O'Connell Bridge)",
 'Wellington Lane (Wellington Green',
 'Wainsfort Estate']

In [295]:
# replace errors and drop nas to set data type as int
stops.actual_stop_id = stops.actual_stop_id[~stops.actual_stop_id.str.contains(':')]
stops = stops.dropna()
stops.actual_stop_id = stops.actual_stop_id.astype(int)

In [297]:
stops.stop_id = stops.stop_id.astype(str)
stops['stop name']=stops['stop name'].astype(str)

In [298]:
stops.dtypes

actual_stop_id      int64
stop_id            object
lat               float64
lng               float64
stop name          object
dtype: object

#### Looking for Null / Missing / Duplicated Data

In [299]:
stops_count = pd.DataFrame([stops.count(), stops.isnull().sum()]).transpose()
stops_count.columns=['NonNull','Null']
stops_count['PctNull'] = round(100 * stops_count.Null / (stops_count.NonNull + stops_count.Null),2)
stops_count

                NonNull  Null  PctNull
actual_stop_id     4228     0      0.0
stop_id            4228     0      0.0
lat                4228     0      0.0
lng                4228     0      0.0
stop name          4228     0      0.0

### Summary

The tables leave and stops have no null values. 

Trips:<br> 
Null Values in the actual_arr and actual_dep columns. According to the accompanying documentation this denotes a suppressed journey. 

Weather<br>
Missing Values in the cloudCover, PrepIntensity and Pressure Columns. This is possible to rectify by using a different weather source.

# Investigating features

In [ ]:
# group trips into on time and late. then check features effect with box plots to determine if they have a notable effect on the outcome. 

# box plots on train 
# also some bar charts 
# possibly a shitty model.

## Combining Features

In [ ]:
# Are there any features which can be combined to create a better explanatory variable.